name: Build iOS App

on: [workflow_dispatch] # Allows you to manually trigger the build

permissions:
  contents: read

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build App
        run: |
          xcodebuild -scheme Test \
            -project Test.xcodeproj \
            -sdk iphoneos \
            -configuration Release \
            -derivedDataPath build \
            clean build \
            CODE_SIGN_IDENTITY="" \
            CODE_SIGNING_REQUIRED=NO \
            CODE_SIGNING_ALLOWED=NO

      - name: Create IPA
        run: |
          mkdir Payload
          cp -r build/Build/Products/Release-iphoneos/Test.app Payload/
          zip -r Test.ipa Payload

      - name: Upload IPA
        uses: actions/upload-artifact@v4
        with:
          name: app-binary
          path: Test.ipa
